%form-base {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  @include text-style(16, $primary);
  appearance: none;
  transition: background-color 200ms ease-in-out;

  &::placeholder {
    color: $tertiary;
  }

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.form-select,
.form-input {
  @extend %form-base;
}

.select-group {
  position: relative;

  .form-select {
    padding-right: 40px;
    text-overflow: ellipsis;
  }

  .ic-caret {
    @include pos-center-y;
    right: 8px;
    font-size: 24px;
    color: $tertiary;
    pointer-events: none;
  }

  &.is-active {
    .form-select {
      border-color: $blue;
    }

    .ic-caret {
      color: $blue;
    }
  }
}

.input-group {
  position: relative;

  .form-input {
    padding-left: 40px;
  }

  .ic-search {
    font-size: 20px;
    color: $secondary;
    @include pos-center-y;
    left: 10px;
  }
}
