%page-item-base {
  @include inline-flexbox;
  @include text-style(16, $primary);
  font-weight: 700;
  height: 26px;
  border-radius: 4px;
  background-color: $white;
}

.pagination {
  @include flexbox;
  .page-control {
    width: 26px;
    @extend %page-item-base;
    border: 1px solid $border;

    &:hover {
      opacity: 0.4;
    }

    .ic-chevron {
      font-size: 20px;
    }

    &.page-prev {
      margin-right: 24px;
      .ic-chevron {
        transform: rotate(90deg);
      }
    }

    &.page-next {
      margin-left: 24px;
      .ic-chevron {
        transform: rotate(-90deg);
      }
    }
  }
  .page-list {
    @include flexbox;
  }
  .page-item {
    margin-right: 4px;

    &:last-child {
      margin: 0;
    }

    &.is-active {
      a,
      button {
        background-color: $blue;
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }

    a,
    button {
      @extend %page-item-base;
      min-width: 26px;
      padding: 0 4px;

      &:hover {
        color: $blue;
      }
    }
  }
}
