%tag-base {
  @include inline-flexbox;
  padding: 2px 6px;
  height: 20px;
  border-radius: 4px;
  @include text-style(12);
  font-weight: 700;
}

.tag-red {
  @extend %tag-base;
  color: $white;
  background-color: $red;
}

.tag-green {
  @extend %tag-base;
  color: $white;
  background-color: $green;
}

.tag-gray {
  @extend %tag-base;
  color: $secondary;
  background-color: $border;
}
