/* 
 * MOBILE (< 768px) ------------------------
 * fixture : sm
 * number of columns : 4
 * container : 100% - (5px * 2)
 * unit : (container / 4) - 20px
 * margin : 5px
 * gutter : 20px
*/

/* 
 * TABLET (>= 768px) ------------------------
 * fixture : md
 * number of columns : 12
 * container : 100% - (30px * 2)
 * max-container : 960px
 * unit : (container / 4) - 20px
 * margin : 30px
 * gutter : 20px
*/

/* 
 * DESKTOP (>= 1200px) ------------------------
 * fixture : lg
 * number of columns : 12
 * container : 1140px
 * max-container : 1140px
 * unit : 75px
 * gutter : 20px
*/

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  [class^='col-'] {
    padding: 0 $gutter/2;
  }

  @for $i from 1 through $sm-columns {
    // @debug $i;
    .col-sm-#{$i} {
      // width: $i / $sm-columns * 100%;
      width: percentage($i / $sm-columns);
    }
  }

  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      // @debug $i;
      .col-md-#{$i} {
        // width: $i / $md-columns * 100%;
        width: percentage($i / $md-columns);
      }
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      // @debug $i;
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
