$black: #000000;
$dark: #191a20; // gray-1
$primary: #3f4150; // gray-3
$secondary: #8c8d96; // gray-8
$tertiary: #b2b3b9; // gray-b
$border: #e0e2e7; // gray-e
$background: #f7f8fa; // gray-f
$white: #ffffff;

$blue: #3da5f5;
$blue-light: #ecf6fe;
$blue-dark: #3186c4;

$red: #f86d7d;
$green: #22c58b;
